<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aceraspire.ustapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Arch"
            android:label="@string/title_activity_arch" >
        </activity>
        <activity
            android:name=".Educ"
            android:label="@string/title_activity_educ" >
        </activity>
        <activity
            android:name=".Nurse"
            android:label="@string/title_activity_nurse" >
        </activity>
        <activity
            android:name=".Science"
            android:label="@string/title_activity_science" >
        </activity>
        <activity
            android:name=".Music"
            android:label="@string/title_activity_music" >
        </activity>
        <activity
            android:name=".Engg"
            android:label="@string/title_activity_engg" >
        </activity>
        <activity
            android:name=".Account"
            android:label="@string/title_activity_account" >
        </activity>
        <activity
            android:name=".Commerce"
            android:label="@string/title_activity_commerce" >
        </activity>
        <activity
            android:name=".Cfad"
            android:label="@string/title_activity_cfad" >
        </activity>
        <activity
            android:name=".Ab"
            android:label="@string/title_activity_ab" >
        </activity>
        <activity
            android:name=".last_Ab"
            android:label="@string/title_activity_last__ab" >
        </activity>
        <activity
            android:name=".last_Account"
            android:label="@string/title_activity_last__account" >
        </activity>
        <activity
            android:name=".last_Arch"
            android:label="@string/title_activity_last__arch" >
        </activity>
        <activity
            android:name=".last_Educ"
            android:label="@string/title_activity_last__educ" >
        </activity>
        <activity
            android:name=".last_Nurse"
            android:label="@string/title_activity_last__nurse" >
        </activity>
        <activity
            android:name=".last_Science"
            android:label="@string/title_activity_last__science" >
        </activity>
        <activity
            android:name=".last_Music"
            android:label="@string/title_activity_last__music" >
        </activity>
        <activity
            android:name=".last_Engg"
            android:label="@string/title_activity_last__engg" >
        </activity>
        <activity
            android:name=".last_Commerce"
            android:label="@string/title_activity_last__commerce" >
        </activity>
        <activity
            android:name=".last_Cfad"
            android:label="@string/title_activity_last__cfad" >
        </activity>
    </application>

</manifest>
